<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lesson Quiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>LessonQuiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>MathHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MathWidget 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MathWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Notes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>QuickVideos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TestWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Textbook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Videos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D81F69EC1A58C6C300D41FFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D81F69FF1A58C6D700D41FFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8502F2B1A57DA560010FAFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8502F411A57E3F40010FAFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8502F5D1A586C550010FAFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8502F701A586C780010FAFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8502F831A5870C60010FAFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8502F961A5873400010FAFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8502FA91A58735D0010FAFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8502FBC1A5873F40010FAFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8502FCF1A58772F0010FAFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8502FE21A5877500010FAFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D87139641A5A862A009DE95B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D87262111A5A74F300D8E8C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D87262241A5A750800D8E8C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D87262371A5A768B00D8E8C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D87262511A5A77A600D8E8C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D87262711A5A78E000D8E8C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D889F3AB1A575F0000C2C739</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D889F3C21A575F0000C2C739</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
